.col-md-5 img{
    width: 35%;
}
.nav-bar{
    padding-bottom: 80px;
}
.col-md-7 img{
    width: 95%;
}
.color{
    background-color: #F0FFF0;
    padding: 20px 80px;
}
button{
    background-color: #21B573;
    border-radius: 15px;
    color: #fff;
    padding: 2px 12px;
    border: none;
}
.green{
    color: #21B573;
}
.red{
    color: red;
}